@import "https://fonts.googleapis.com/css?family=Sintony";
body {
  padding: 0;
  margin: 0;
  background-color: #000;
  font-family: "Sintony", sans-serif;
  color: #fff;
}

#limbo__header {
  height: 800px;
  overflow: hidden;
  position: relative;
}

.limbo-logo--style {
  width: 70%;
  height: auto;
  padding-bottom: 2em;
}

#content {
  background-color: #000;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

#limbo__header-mobile {
  display: none;
  background: url("img/limbo.jpg") no-repeat center bottom/cover;
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
  font-size: 18px;
}

#limbo__header, .layer {
  min-height: 800px;
}

.layer-bg {
  background-image: url("img/limbo_bg.jpg");
}

.layer-1 {
  background-image: url("img/limbo_04.png");
}

.layer-2 {
  background-image: url("img/limbo_03.png");
}

.layer-3 {
  background-image: url("img/limbo_02.png");
}

.layer-4 {
  background-image: url("img/limbo_01.png");
}

@media only screen and (max-width: 768px) {
  #limbo__header {
    display: none;
  }

  #limbo__header-mobile {
    display: block;
    height: 400px;
  }

  .layer {
    height: 400px;
  }

  .section__main:nth-child(4) {
    top: 250vh !important;
  }

  .section__main:nth-child(5) {
    top: 400vh !important;
  }

  .section__main:nth-child(6) {
    top: 500vh !important;
  }

  .section__main:nth-child(7) {
    top: 600vh !important;
  }

  .section__main:nth-child(8) {
    top: 700vh !important;
  }

  .section__main:nth-child(9) {
    top: 800vh !important;
  }

  .section__main:nth-child(10) {
    top: 900vh !important;
  }
}
.section__main {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  letter-spacing: 4px;
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
}

.section__main .fixed {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
}

.section__main .white {
  color: #fff;
}

.section__main:nth-child(1) {
  background-color: #fff;
  color: #000;
  top: 0;
  z-index: 1;
}

.section__main:nth-child(1) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(2) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #000;
  color: #fff;
  top: 100vh;
  z-index: 2;
}

.section__main:nth-child(2) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(3) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #fff;
  color: #000;
  top: 200vh;
  z-index: 3;
}

.section__main:nth-child(3) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(4) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #000;
  color: #fff;
  top: 300vh;
  z-index: 4;
}

.section__main:nth-child(4) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(5) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #fff;
  color: #000;
  top: 400vh;
  z-index: 5;
}

.section__main:nth-child(5) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(6) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #000;
  color: #fff;
  top: 500vh;
  z-index: 6;
}

.section__main:nth-child(6) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(7) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #fff;
  color: #000;
  top: 600vh;
  z-index: 7;
}

.section__main:nth-child(7) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(8) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #000;
  color: #fff;
  top: 700vh;
  z-index: 8;
}

.section__main:nth-child(8) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(9) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #fff;
  color: #000;
  top: 800vh;
  z-index: 9;
}

.section__main:nth-child(9) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section__main:nth-child(10) {
  background-color: #000;
  color: #fff;
  top: 900vh;
  z-index: 10;
}

.section__main:nth-child(10) .fixed {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.music-player {
  z-index: 999999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border-radius: 2px;
  padding: 20px;
}
.music-player__audio {
  display: block;
}

/*# sourceMappingURL=style.css.map */
